<form action="/login" method="post">
    <input type="text" name="username" placeholder="Benutzername"></br>
    <input type="password" name="password" placeholder="Passwort"></br>
    <input type="submit" value="anmelden"></br>
    <a href="/register">registrieren</a>
</form>