<form action="/register" method="post">
    <input type="text" name="username" placeholder="Benutzername"> </br>
    <input type="password" name="password" placeholder="Passwort"></br>
    <input type="password" name="confirmation" placeholder="Bestätigung"></br>
	
    <input type="submit" value="registrieren">
</form>